@import '../../../node_modules/sass-mq/mq';

$mq-responsive: true;
$mq-breakpoints: (
        mobile: 320px,
        tablet: 740px,
        desktop: 980px,
        wide: 1300px
);
$mq-static-breakpoint: desktop;


