@import "mediaquery";

.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.additional-fields {
  border-top: 1px solid #CCC;
  padding-top: 4%;
}

.border-corner {
  border-radius: 10px;
}

.img-force-width-80 {
  width: 80px;
  height: 80px;
}

.profile-avatar {
  display: block;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #fff;
  -moz-box-shadow: 0 0 0 5px #fff;
  -o-box-shadow: 0 0 0 5px #fff;
  box-shadow: 0 0 0 5px #fff;
}

.avatar-upload {
  margin-left: 25px;
  margin-top: 9%;
}

.zoomed-background {
  background-size: cover;
}

.fade-background {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.square-aquarium {
  width: 100%;
  height: 270px;
}

.fish-table-image, .plant-table-image {
  width: 100px;
  border-radius: 20px;
  @include mq(mobile, tablet) {
    width: 70px;
    border-radius: 10px;
  }
}

.table-middle-align tbody tr td {
  vertical-align: middle !important;
}

.selected-fish-type, .selected-plant-type {
  width: auto;
  border-radius: 20px;
  height: 170px;
  @include mq(mobile, tablet) {
    height: 190px;
  }
}

// Hide Mostrar por pagina when mobile

.dataTables_length {
  @include mq(mobile, tablet) {
    display: none;
  }
}

.action-buttons {
  @include mq(mobile, tablet) {
    width: 80px;
    button {
      @extend .btn-sm !optional;
    }
  }
}

.ma-logo-text {
  background-image: url('/assets/images/ma-logo-text-white.png');
}

.add-photos {
  width: 100%;
  & > .modal-dialog {
    width: 75%;
  }
  & > .dz-details {
    width: 120px;
  }
}

#photo-gallery {
  max-width: 100% !important;
}

.btn-delete-current-photo {
  @include mq(mobile, tablet) {
    width: 100%;
  }
}

